<% @books.each do |book| %>
  <%= link_to user_path(@user.id) do %>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  <% end %>
  <p>投稿ユーザー画像：</p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
  <% end %>

